$background-dark: #e56d12;
$background-light: #ffb780;
$background-pale: #ffe2cc;
$notation-text: #00b300;

@mixin zero-margin ($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px, 0px);
}

.row-content {
    @include zero-margin(30px, 5px);
}

.footer {
    background-color: $background-light;
    @include zero-margin(20px, 0px);
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
}

.navbar-dark {
    background-color: $background-dark;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: $background-pale;
}

.modal-header {
    background-color: $background-dark;
    .modal-title {
        color: floralwhite;
    }
    .close {
        color: floralwhite;
    }
}

.modal-body {
    background-color: $background-light;
}

.notation {
    color: $notation-text;
    font-weight: bold;
}
